@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/the\ witcher\ hell.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {

}

header img {
    border: 1px solid white;
    display: inline-block;
    height: 8vh;
    margin: 1% 0 0 10%;
    padding: 0 0 0 0;
}

header > a {
    border: 1px solid white;
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header nav.menu-box {
    border: 1px solid white;
    display: inline-block;
    width: 38%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header nav.menu-box a {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 5% 0 0;
}

header nav.menu-box a:hover {
    font-weight: 700;
}

main {
    background-image: url(assets/the\ witcher\ kavil2.png);
    background-repeat:;
    background-position:;
    background-size:;
    height: 100vh;
}

main section.main-box {

}

main section.main-box img.logo {
    border: 1px solid white;
    display: block;
    margin: auto;
    padding-top: 20%;
}

main section.main-box a {
    border: 1px solid white;
    display: block;
    margin: auto;
}

/* footer p {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 800;
} */