@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/the\ witcher\ hell.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header .logo-header {
    display: inline-block;
    width: 30%;
    text-align: center;
}

header img {
    display: inline-block;
    width: 40px;
    margin: 2% 0 -7% 10%;
    padding: 0 0 0 0;
}

header .logo-header a {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 0 6%;
    padding: 0 0 0 20px;
}

header nav.menu-box {
    display: inline-block;
    width: 40%;
    margin: 0 0 0 29%;
    padding: 0 0 0 0;
}

header nav.menu-box a {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 5% 0 0;
    padding: 0 0 0 0;
}

header nav.menu-box a:hover {
    font-weight: 700;
}

main {
    background-image: url(assets/the\ witcher\ kavil2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
}

main section.main-box img#logo {
    display: block;
    width: 32vw;
    margin: auto;
    padding: 425px 0 0 0;
}

main section.main-box a img {
    display: block;
    margin: auto;
    padding: 10px 0 0 0;
}

main p {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 800;
    margin: 14% 60% 0 2%;
    padding: 0 0 0 0;
}